@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@font-face {
	font-family: 'Varela Round';
	src: url('../fonts/VarelaRound-Regular.ttf');
	src: local('VarelaRound-Regular'), local('Varela Round'), url('../fonts/VarelaRound-Regular.ttf') format('truetype');
}



header{

	

	
}

header a{
	font-size: 20px;
	font-family: 'VarelaRound-Regular';
	color: grey;
	text-decoration: underline;
	position: fixed;
	top: 3%;
	right: 3%;
}

body.page{

	
   font-family: 'Open Sans';
   font-size: 17px;
   text-align: left;
   line-height: 35px;
   font-weight: 300;

   background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #FFFFFF 100%); /* ff3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #FFFFFF)); /* safari4+,chrome */
background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #FFFFFF 100%); /* safari5.1+,chrome10+ */
background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #FFFFFF 100%); /* opera 11.10+ */
background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #FFFFFF 100%); /* ie10+ */
background: radial-gradient(ellipse at center, #ffffff 0%, #FFFFFF 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#FFFFFF',GradientType=1 ); /* ie6-9 */

	
}



body.page h1{

	font-family: 'Varela Round';
    text-align: center;
    margin-top: 2%;
    font-size: 50px;

}

body.page h3{

	font-family: 'Varela Round';
	font-size: 25px;
	letter-spacing: 3px;
	margin-top: 5%;
	

}

body.page h5{

	font-family: 'Quicksand';
	
}

body.page h4{

	font-family: 'Varela Round';
	letter-spacing: 3px;
	
}


body.page p{

		padding-bottom: 2%;
}